<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/liste.css">
    <title>Notifications</title>
</head>
<body>

    <div class="container">
        <div class="content">
            <section class="tableau" id="stock">
                <h2>Notifications</h2>  
              </section> 
              
             <section class="two-section">
               
                
                <section class="table__body" >
    
                  Merci et à la prochaine.
                           
                
                </section>
             </section>
        </div>
       
    </div>
  
    
</body>
</html>